* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: sans-serif;
	background-color: rgb(129, 145, 158);
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 8px;
}


.contenedor2 {
	width: 90%;
	max-width: 1200px;
	margin: 40px auto 100px auto;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contenedor2 .pelicula2 {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contenedor2 .pelicula2 .titulo2 {
	font-weight: bold;
	color: black;
	margin: 10px auto;
}

.contenedor2 .pelicula2 .poster2 {
	max-width: 100%;
	width: 300px;
	margin-bottom: 10px;
	border-radius: 8px;
}

.description {
	max-width: 300px;
}

@media(min-width: 600px) {
	.contenedor {
		width: 90%;
		max-width: 1200px;
		margin: 40px auto 100px auto;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}

	.contenedor .pelicula {
		text-align: center;
	}

	.contenedor .pelicula .titulo {
		font-size: 20px;
		font-weight: bold;
		color: black;
	}

	.contenedor .pelicula .poster {
		width: 100%;
		margin-bottom: 10px;
		border-radius: 8px;
	}
	.description {
		max-width: 600px;
	}
}

@media(min-width: 1200px) {
	.contenedor {
		width: 90%;
		max-width: 1200px;
		margin: 40px auto 100px auto;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
	}

	.contenedor .pelicula {
		text-align: center;
	}

	.contenedor .pelicula .titulo {
		font-size: 20px;
		font-weight: bold;
		color: black;
	}

	.contenedor .pelicula .poster {
		width: 100%;
		margin-bottom: 10px;
		border-radius: 8px;
	}

	.description {
		max-width: 800px;
	}
}


.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}

.ptop1 {
	text-align: center;
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 25px;
	color: black;
}

.ptop {
	text-align: center;
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 18px;
}

.img {
	width: 100px;
}

.headercontainer {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btnRandom {
	padding: 10px 10px;
	background-color: black;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
}

.center-button {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}